<f:security.ifAccess resource="TYPO3_Neos_Backend_BackendController">
	<f:then>
		<h3>Add Documents</h3>
		<f:form action="uploadFiles" enctype="multipart/form-data">
			<f:form.upload name="fileUpload" />
			<f:form.submit value="Upload File"/>
		</f:form>
		<f:if condition="{fileNodes}">
			<f:form action="delete">
				<ol>
					<f:for each="{fileNodes}"  as="fileNode">
						<f:if condition="{fileNode.removed}">
							<f:else>
								<li>
								<f:link.action action="downloadFiles" arguments="{file: fileNode.properties.file}">{fileNode.properties.file.filename}</f:link.action>
								<f:form.checkbox name="nodes[]" value="{fileNode.path}" />
								</li>
							</f:else>
						</f:if>
					</f:for>
				</ol>
				<f:form.submit value="Delete Files"/>
			</f:form>
		</f:if>
	</f:then>
	<f:else>
		<f:if condition="{fileNodes}">
			<h3>Documents</h3>
			<ol>
				<f:for each="{fileNodes}"  as="fileNode">
					<li>
					<f:link.action action="downloadFiles" arguments="{file: fileNode.properties.file}">{fileNode.properties.file.filename}</f:link.action>
					</li>
				</f:for>
			</ol>
		</f:if>
	</f:else>
</f:security.ifAccess>
