{namespace neos=TYPO3\Neos\ViewHelpers}
{namespace typo3cr=TYPO3\TYPO3CR\ViewHelpers}
{namespace media=TYPO3\Media\ViewHelpers}
{namespace products=Lelesys\Plugin\Products\ViewHelpers}

<f:if condition="{itemNodes}">
	<f:then>
		<typo3cr:widget.paginate widgetId="paginator" parentNode="{pageNode}" nodeTypeFilter="{itemNodes}" as="paginatedItems" configuration="{itemsPerPage: 4, insertBelow: 1, maximumNumberOfLinks: 15}">
			<f:for each="{paginatedItems}" as="item">
				<div class="row-fluid">
					<div class="span12">
						<div class="span4">
							<f:if condition="{products:nodeProperty(node: '{item}', property: 'image')}">
								<f:then>
									<media:image class="thumbnail" image="{products:nodeProperty(node: '{item}', property: 'image')}" alt="{alternativeText}" title="{title}" maximumWidth="{maximumWidth}" maximumHeight="{maximumHeight}" />
								</f:then>
								<f:else>
									<img class="thumbnail" src="{f:uri.resource(package: 'TYPO3.Neos', path: 'Images/dummy-image.png')}" title="Dummy image" alt="Dummy image" />
								</f:else>
							</f:if>
						</div>
						<div class="span8">
							<h4>
								<neos:link.node node="{item}"><products:nodeProperty node="{item}" property="title" /></neos:link.node>
							</h4>
							<div class="content"><products:teaser maxCharacters="200">{products:nodeProperty(node: '{item}', property: 'text')}</products:teaser></div>
							<span class="pull-right">
								<neos:link.node node="{item}">Read More..</neos:link.node>
							</span>
						</div>
					</div>
				</div>
				<hr>
			</f:for>
			<div class="catalog-pagination">
				{pagination.numberOfPages}
				</typo3cr:widget.paginate>
			</div>
	</f:then>
</f:if>