{namespace media=TYPO3\Media\ViewHelpers}
{namespace ts=TYPO3\TypoScript\ViewHelpers}
{namespace neos=TYPO3\Neos\ViewHelpers}
<neos:contentElement.wrap node="{node}">
	<h2 itemprop="name headline">{neos:contentElement.editable(node: node, property: 'title')}</h2>
	<div class="row-fluid">
		<div class="span3">
			<div class="typo3-image{f:if(condition: alignment, then: ' typo3-image-alignment-{alignment}')}">
				<f:render partial="Image" arguments="{
						  image: image,
						  alternativeText: alternativeText,
						  title: title,
						  link: link,
						  hasCaption: hasCaption,
						  caption: caption,
						  captionAlignment: captionAlignment,
						  maximumWidth: maximumWidth,
						  maximumHeight: maximumHeight
						  }" />
			</div>
		</div>
		<div class="span7">
			{neos:contentElement.editable(node: node, property: 'text')}
		</div>
	</div>
	<f:if condition="{priceVisibility}">
		<h3>{price}</h3>
	</f:if>
</neos:contentElement.wrap>
<div>
	<f:security.ifAccess resource="TYPO3_Neos_Backend_GeneralAccess">
		<h3>Add images</h3>
	</f:security.ifAccess>
	<div class="products-images">
		{images -> f:format.raw()}
	</div>
</div>
<div class="clearfix"></div>
<div>
	{filesPlugin -> f:format.raw()}
</div>
<div>
	{relatedProducts -> f:format.raw()}
</div>